export TF_VAR_org_id=10xxxxxxxx777
export TF_VAR_billing_account=03xxxx-xxxxxx-xxxDDD
export TF_VAR_env_folder=4xxxxxxxxxx5
export TF_VAR_admin_email=admin@company.com

export TF_VAR_state_bucket=tf-state-xxxx
export TF_ADMIN=tf-admin-xxxx
export GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/tf-admin-xxxx.json

export TF_VAR_stackdriver_project=gke-private-svpc-service
export TF_VAR_core_project=gke-private-svpc-service
export TF_VAR_kube_project=gke-private-demo1
